<div class='main-container'>
    <div class='grid-container'>
        <div class='header'>
            <div class='navbar container-fluid'>
                <div>
                    <a href="/">HOME</a>
                    <a href='/about-us'>ABOUT US</a>
                    <a href='/products/tents'>TENTS</a>
                    <a href='/products/sleepingbags'>SLEEPING BAGS</a>
                    <a href='/products/backpacks'>BACKPACKS</a>
                </div>
                <div>
                    {{#if loggedIn}}
                    <a href="/logout" class="btn btn-primary">
                        <span class="fa fa-facebook-official"></span> Logout</a>
                    <a href='/profile'>PROFILE</a>
                    {{else}}
                    <a href="/auth/facebook" class="btn btn-primary">
                        <span class="fa fa-facebook-official"></span> Facebook Login</a>
                    {{/if}}
                    <a href='/cart'>CART</a>
                </div>
            </div>
            <div class='header-copy'>
            </div>
        </div>
        <div class="displayCase">
            {{#each item}}
            <div class='marketing'>
                <div class="shopWrap">
                    <a href="/products/{{category}}/{{id}}">
                        <img class="shopImage" src="../img/{{image}}" alt="Product Image">
                    </a>
                    <div class="shopText1">{{name}}</div>
                    <div class="shopText2">${{this.price}}</div>
                    <a href="/products/{{category}}/{{id}}">
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class='accepted-payment'>

        </div>
        <div class='footer'>
            <div class='social'>
                <a href='https://www.facebook.com'>
                    <img src='/img/facebook.svg' alt='facebook' class='social-icon'>
                </a>
                <a href='https://www.twitter.com'>
                    <img src='/img/twitter.svg' alt='twitter' class='social-icon'>
                </a>
                <a href='https://www.instagram.com'>
                    <img src='/img/instagram.svg' alt='instagram' class='social-icon'>
                </a>
                <a href='https://plus.google.com/'>
                    <img src='/img/google+.svg' alt='google+' class='social-icon'>
                </a>
            </div>
            <p class="footer-block">
                <span>
                    <a href='https://github.com/project2-ecommerce/Wecommerce'>
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </span> Created By: Will Blake 2018 &copy;
            </p>
        </div>
    </div>
</div>
