<div class='navbar container-fluid'>
    <div>
        <a href="/">HOME</a>
        <a href='/about-us'>ABOUT US</a>
        <a href='/products/tent'>TENTS</a>
        <a href='/products/sleepingbag'>SLEEPING BAGS</a>
        <a href='/products/backpack'>BACKPACKS</a>
    </div>
    <div>
        {{#if loggedIn}}
        <a href="/logout" class="btn btn-primary">
            <span class="fa fa-facebook-official"></span> Logout</a>
        <a href='/profile'>PROFILE</a>
        {{else}}
        <a href="/auth/facebook" class="btn btn-primary">
            <span class="fa fa-facebook-official"></span> Facebook Login</a>
        {{/if}}
        <a href='/cart'>CART</a>
    </div>
</div>

<div class="page-header text-center">
    <h1>
        <span class="fa fa-anchor"></span>Profile for {{user.name}}</h1>
</div>
<div class="alert alert-info" role="alert">Your user id is: {{user.facebook_id}}
</div>
<p>Previous Purchases:</p>
{{#each carts}}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Cart #</th>
            <th scope="col">Date</th>
            <th scope="col">Session</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <th>{{this.id}}</th>
            <th>{{updatedAt}}</th>
            <th>{{sessionID}}</th>
        </tr>
    </tbody>
</table>
{{/each}}